.container {
	width: 960px;
	margin: 500px auto;
}

.pt-section {
	height: 800px;
}

#ptsection-one,
#ptsection-three {
	background-color: #5f6f81;
}

#ptsection-two,
#ptsection-four {
	background-color: #28292e;
}
