body {
	font-family: Helvetica, Arial, sans-serif;
}

.container {
	width: 960px;
	margin: 500px auto 700px;
}

.pt-section {
	height: 800px;
}

#ptsection-one,
#ptsection-three {
	background-color: #5f6f81;
}

#ptsection-two,
#ptsection-four {
	background-color: #28292e;
}
